MONGO_URL=mongodb+srv://viajexpress:test2024@cluster0.zemd0mc.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SCRET_SEED=Est03Sun4SeedDMisToken@12312
NEXTAUTH_SECRET=5bd63849303f2e209ecd897e976f19b8
DOMAIN=http://localhost:3000