@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~leaflet/dist/leaflet.css';

@layer components {
    .summary {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    }
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}

	.summary {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
	}
	.visually-hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;
	  }
	  body, html {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	  }
/* Modificación de colores del logo*/
.blue-xpress {
    color: #4691f3;
}

.purple-xpress {
    color: #742ea3;
}

/* styles/globals.css */
.metroContainer {
	padding: 20px;
	max-width: 800px;
	margin: 0 auto;
	font-family: Arial, sans-serif;
  }
  
  .metroTitle {
	font-size: 2rem;
	color: #333;
	margin-bottom: 20px;
  }
  
  .metroSection {
	margin-bottom: 30px;
  }
  
  .metroLineList {
	list-style: none;
	padding: 0;
  }
  
  .metroLineItem {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #f9f9f9;
  }
  
  .metroLineName {
	font-size: 1.5rem;
	color: #0070f3;
  }
  
  .metroLinePrice {
	font-weight: bold;
	color: #333;
  }
  
  .metroContactInfo {
	font-size: 1rem;
	color: #555;
  }
  
  .metroMap {
	margin-top: 20px;
	padding: 10px;
	background-color: #f0f0f0;
	border-radius: 4px;
  }

.servicesContainer {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  }
  
  .servicesTitle {
	text-align: center;
	margin-bottom: 20px;
  }
  
  .servicesIntro {
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 30px;
  }
  
  .servicesSection {
	margin-bottom: 40px;
  }
  
  .servicesSection h2 {
	font-size: 1.5em;
	margin-bottom: 10px;
  }
  
  .servicesSection p {
	font-size: 1em;
	margin-bottom: 20px;
  }
  
  .servicesImage {
	text-align: center;
  }
  
  .servicesImage img {
	border-radius: 8px;
  }
  