@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~leaflet/dist/leaflet.css';

@layer components {
    .summary {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    }
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}

	.summary {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
	}
	.visually-hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;
	  }
	  body, html {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	  }
/* Modificación de colores del logo*/
.blue-xpress {
    color: #4691f3;
}

.purple-xpress {
    color: #742ea3;
}


/* MetroLines.module.css */
.metroLinesContainer {
	padding: 2rem;
	text-align: center;
  }
  
  .metroLinesTitle {
	font-size: 2rem;
	margin-bottom: 1rem;
	color: #333;
  }
  
  .metroLinesIntro {
	font-size: 1.25rem;
	margin-bottom: 2rem;
  }
  
  .metroContent {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .metroTableContainer {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 2rem;
  }
  
  .metroTable {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 1rem;
  }
  
  .metroTable th, .metroTable td {
	border: 1px solid #ddd;
	padding: 0.75rem;
	text-align: left;
  }
  
  .metroTable th {
	background-color: #f4f4f4;
  }
  
  .metroMap {
	margin-bottom: 2rem;
  }
  
  .metroButton {
	padding: 0.75rem 1.5rem;
	background-color: #0070f3;
	color: white;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s ease;
  }
  
  .metroButton:hover {
	background-color: #005bb5;
  }
  
  @keyframes slideUp {
	from {
	  transform: translateY(100%);
	  opacity: 0;
	}
	to {
	  transform: translateY(0);
	  opacity: 1;
	}
  }
  
  .animate-slideUp {
	animation: slideUp 1s ease-out;
  }
  